/* invite de commande */
/* D: */
/* cd D:\Desktop/EtaTrip/css */
/* sass --watch style.scss:style.css */
/* CODER DANS LE *SCSS* */

*{
    h1{
        font-family: 'Staatliches';
    };
    p{
        font-family: 'PT Serif';
    };
    .no-spacing{
        margin: 0%;
        padding: 0%;
    }
};
//-----------------------------------------------------------
/*BODY*/
body{
    background-color: #ffffff;
    padding: 0.09%;
};
//-----------------------------------------------------------
/*HEADER*/
header{

};
.no-spacing{
    padding: 0px;
    margin: 0px;
}
.background{
    background-size: auto;
    background-repeat: no-repeat;
}
//-----------------------------------------------------------
/* LONDRES */
.londres{
        /* LONDRES HEADER */
    .londres-header{
        background-image: url(../image/defaut_header_1920x600px.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        text-align: center;
        h1{
            font-size: 150px;
            color: #ffffff;
        };
        padding: 0px;
    };
            /* LONDRES TITRE */
    .londres-titre{
        height: 100px;
        text-align: center;
        padding: 2%;
    };
            /* LONDRES CARTE */
    .londres-carte{
        text-align: center;
        padding-bottom: 1%;
    };
            /* LONDRES IMAGE TOP 1*/
    .londres-top1-img{
        background-image: url(../image/defaut_top1_1920x500px.jpg);
        background-size: auto;
        background-repeat: no-repeat;
    };
            /* LONDRES IMAGE TOP 2*/
    .londres-top2-img{
        @extend .londres-top1-img;
        background-image: url(../image/defaut_top2_1920x500px.jpg);
    };
            /* LONDRES IMAGE TOP 3*/
    .londres-top3-img{
        @extend .londres-top1-img;
        background-image: url(../image/defaut_top3_1920x500px.jpg);
    };
            /* LONDRES IMAGE TOP 4*/
    .londres-top4-img{
        @extend .londres-top1-img;
        background-image: url(../image/defaut_top4_1920x500px.jpg);
    };
            /* LONDRES IMAGETOP 5*/
    .londres-top5-img{
        @extend .londres-top1-img;
        background-image: url(../image/defaut_top5_1920x500px.jpg);
    };
            /*
            LONDRES TOP
            */
    .londres-top{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        .londres-top-texte{
            background-color: rgba(255, 255, 255, 0.5);
        };
        margin: 1% 0%;
    };
};
//-----------------------------------------------------------
/* ROME */
.rome{
        /* ROME HEADER */
    .rome-header{
        background-image: url(../image/defaut_header_1920x600px.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        text-align: center;
        h1{
            font-size: 150px;
            color: #ffffff;
        };
        padding: 0px;
    };
            /* ROME TITRE */
    .rome-titre{
        height: 100px;
        text-align: center;
        padding: 2%;
    };
            /* ROME CARTE */
    .rome-carte{
        text-align: center;
        padding-bottom: 1%;
    };
            /* ROME IMAGE TOP 1*/
    .rome-top1-img{
        background-image: url(../image/defaut_top1_1920x500px.jpg);
        background-size: auto;
        background-repeat: no-repeat;
    };
            /* ROME IMAGE TOP 2*/
    .rome-top2-img{
        @extend .rome-top1-img;
        background-image: url(../image/defaut_top2_1920x500px.jpg);
    };
            /* ROME IMAGE TOP 3*/
    .rome-top3-img{
        @extend .rome-top1-img;
        background-image: url(../image/defaut_top3_1920x500px.jpg);
    };
            /* ROME IMAGE TOP 4*/
    .rome-top4-img{
        @extend .rome-top1-img;
        background-image: url(../image/defaut_top4_1920x500px.jpg);
    };
            /* ROME IMAGETOP 5*/
    .rome-top5-img{
        @extend .rome-top1-img;
        background-image: url(../image/defaut_top5_1920x500px.jpg);
    };
            /*
            ROME TOP
            */
    .rome-top{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        .rome-top-texte{
            background-color: rgba(255, 255, 255, 0.5);
        };
        margin: 1% 0%;
    };
}
//-----------------------------------------------------------
/* PARIS */
.paris{
        /* PARIS HEADER */
    .paris-header{
        background-image: url(../image/defaut_header_1920x600px.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        text-align: center;
        h1{
            font-size: 150px;
            color: #ffffff;
        };
        padding: 0px;
    };
            /* PARIS TITRE */
    .paris-titre{
        height: 100px;
        text-align: center;
        padding: 2%;
    };
            /* PARIS CARTE */
    .paris-carte{
        text-align: center;
        padding-bottom: 1%;
    };
            /* PARIS IMAGE TOP 1*/
    .paris-top1-img{
        background-image: url(../image/defaut_top1_1920x500px.jpg);
        background-size: auto;
        background-repeat: no-repeat;
    };
            /* PARIS IMAGE TOP 2*/
    .paris-top2-img{
        @extend .paris-top1-img;
        background-image: url(../image/defaut_top2_1920x500px.jpg);
    };
            /* PARIS IMAGE TOP 3*/
    .paris-top3-img{
        @extend .paris-top1-img;
        background-image: url(../image/defaut_top3_1920x500px.jpg);
    };
            /* PARIS IMAGE TOP 4*/
    .paris-top4-img{
        @extend .londres-top1-img;
        background-image: url(../image/defaut_top4_1920x500px.jpg);
    };
            /* PARIS IMAGETOP 5*/
    .paris-top5-img{
        @extend .paris-top1-img;
        background-image: url(../image/defaut_top5_1920x500px.jpg);
    };
            /*
            PARIS TOP
            */
    .paris-top{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        .paris-top-texte{
            background-color: rgba(255, 255, 255, 0.5);
        };
        margin: 1% 0%;
    };
}
//~~~~~~~~~~~~~~~~~~~~~~~~~
/* */
//-----------------------------------------------------------
/*FOOTER*/
footer{

};
//-----------------------------------------------------------
/* RESPONSIVE
  TABLETTE */
@media screen and (max-width: 1000px){

};
//~~~~~~~~~~~~~~~~~~~~~~~~~
/* RESPONSIVE
  SMARTPHONE */
@media screen and (max-width: 768px){

};
