/* invite de commande */
/* D: */
/* cd D:\Desktop/EtaTrip/css */
/* sass --watch style.scss:style.css */
/* CODER DANS LE *SCSS* */

*{

    h2{
      font-family:'Staatliches', cursive;
      font-size: 3rem;
      margin-bottom: -10px;
      margin-top: 15px;
    }

    h3{
      font-family: 'PT Serif', serif;
      color: white;
      font-size: 1rem;
    }
    h4{
      font-size: 1.5rem;
      font-family: 'PT Serif', serif;
      font-weight: bold;
      margin: 15px;
      margin-top: 25px;
      text-align: left;
    }
    h5{
      font-family:'PT Serif', serif;
      font-size: 8rem;
      margin-bottom: -50px;
      padding-bottom: 0px;
    }
    p{
      margin: 15px;
      text-align: left;
    }
    p{
        font-family: 'PT Serif';
    };
    .no-spacing{
        margin: 0%;
        padding: 0%;
    }
};
//-----------------------------------------------------------
/*BODY*/
body{
    background-color: #ffffff;
    padding: 0.09%;
};
//-----------------------------------------------------------
/*HEADER*/
header{

};
.no-spacing{
    padding: 0px;
    margin: 0px;
}
.background{
    background-size: auto;
    background-repeat: no-repeat;
}
//-----------------------------------------------------------
/* INDEX */
button{
    position: absolute;
    left: 0;
    a{
        color: #ffffff;
        text-decoration: none;
    };
}
//-----------------------------------------------------------
/* LONDRES */
.londres{
        /* LONDRES HEADER */
    .londres-header{
        // background-image: url(../image/defaut_header_1920x600px.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        text-align: center;
        h1{
            font-size: 150px;
            color: #ffffff;
        };
        padding: 0px;
    };

        /*ANIMATION TITRE*/
    .container span{
        text-transform: uppercase;
        display: block;
    }

    .text{
        color: white;
        font-size: 150px;
        font-weight: 700;
        letter-spacing: 8px;
        position: relative;
        animation: text 3s 1;
    }
    @keyframes text {
        0%{
            color: black;
            margin-bottom: -40%;
        }
        30%{
            letter-spacing: 25px;
            margin-bottom: -40%;
        }
        85%{
            letter-spacing: 8px;
            margin-bottom: -40%;
        }
    }
            /* LONDRES TITRE */
    .londres-titre{
        height: 100px;
        text-align: center;
        padding: 2%;
    };
            /* LONDRES CARTE */
    .londres-carte{
        text-align: center;
        padding-bottom: 1%;
    };
            /* LONDRES IMAGE TOP 1*/
    .londres-top1-img{
        background-image: url(../image/defaut_top1_1920x500px.jpg);
        background-size: auto;
        background-repeat: no-repeat;
    };
            /* LONDRES IMAGE TOP 2*/
    .londres-top2-img{
        @extend .londres-top1-img;
        background-image: url(../image/defaut_top2_1920x500px.jpg);
    };
            /* LONDRES IMAGE TOP 3*/
    .londres-top3-img{
        @extend .londres-top1-img;
        background-image: url(../image/defaut_top3_1920x500px.jpg);
    };
            /* LONDRES IMAGE TOP 4*/
    .londres-top4-img{
        @extend .londres-top1-img;
        background-image: url(../image/defaut_top4_1920x500px.jpg);
    };
            /* LONDRES IMAGETOP 5*/
    .londres-top5-img{
        @extend .londres-top1-img;
        background-image: url(../image/defaut_top5_1920x500px.jpg);
    };
            /*
            LONDRES TOP
            */
    .londres-top{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        .londres-top-texte{
            background-color: rgba(255, 255, 255, 0.5);
        };
        margin: 5% 3%;
    };
};
//-----------------------------------------------------------
/* ROME */
.rome{
        /* ROME HEADER */
    .rome-header{
        background-image: url(../image/rome_header.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        text-align: center;
        letter-spacing: 8px;
        background-position: bottom;
        h1{
            font-size: 150px;
            color: #ffffff;
        };
        padding: 0px;
    };

        /*ANIMATION TITRE*/
    .container span{
        text-transform: uppercase;
        display: block;
    }

        /*HR VESPA*/
    div.style-five {
        height: 75px;
        margin-left: 50px;
        }
    hr.style-five
        {
        width: 81%;
        margin-top: -40px;
        border: 0;
        border-bottom: 2px dashed black;
        background: #000;
    }


    .text{
        color: white;
        font-size: 150px;
        font-weight: 700;
        letter-spacing: 8px;
        position: relative;
        animation: text 3s 1;
    }
    @keyframes text {
        0%{
            color: black;
            margin-bottom: -40%;
        }
        30%{
            letter-spacing: 25px;
            margin-bottom: -40%;
        }
        85%{
            letter-spacing: 8px;
            margin-bottom: -40%;
        }
    }



            /* ROME TITRE */
    .rome-titre{
        height: 100px;
        text-align: center;
        padding: 2%;
    };
            /* ROME CARTE */
    .rome-carte{
        text-align: center;
        padding-bottom: 1%;
        background-image: url(../image/defaut_carte_600x600px.jpg);
        background-size: auto;
        background-repeat: no-repeat;
    };
            /* ROME IMAGE TOP 1*/
    .rome-top1-img{
        background-image: url(../image/rome_colisee2.jpg);
        background-size: auto;
        background-repeat: no-repeat;
    };

    .rome-position-text{
        width: 50%;
        position: absolute;
        right: 5%;
        padding-left: 12px;
        padding-right: 10px;
        padding-top: 10px;
        margin-top: 10px;
        display: inline-block;
        justify-content: center;
    };


    .rome-position-text2 {
        position: relative;
        background-color: red;
        height: 100%;

    }

    .rome-block-center{
        height: 50%;
        margin-top: 50%;
    }

    #top2{
        img{
            margin-left: 35%;
        };
    };
    #top4{
        img{
            margin-left: 30%;
        }
    }

            /* ROME IMAGE TOP 2*/
    .rome-top2-img{
        @extend .rome-top1-img;
        background-image: url(../image/rome_trevi2.jpg);
    };
            /* ROME IMAGE TOP 3*/
    .rome-top3-img{
        @extend .rome-top1-img;
        background-image: url(../image/rome_vatican3.jpg);
    };

    .img-cercle{
        width: 100%;
    }
            /* ROME IMAGE TOP 4*/
    .rome-top4-img{
        @extend .rome-top1-img;
        background-image: url(../image/rome_basilique-stpierre.jpg);
    };
            /* ROME IMAGETOP 5*/
    .rome-top5-img{
        @extend .rome-top1-img;
        background-image: url(../image/defaut_top5_1920x500px.jpg);
    };
            /*
            ROME TOP
            */
    .rome-top{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        .rome-top-texte{
            background-color: rgba(198, 198, 198, 0.5);
        };
        margin: 5% 3%;
    };

}
//-----------------------------------------------------------
/* PARIS */
.paris{
        /* PARIS HEADER */
    .paris-header{
        background-image: url(../image/paris_header_1920x600px.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        text-align: center;
        background-position: center;
        color: #ffffff;
        h1{
            font-size: 150px;
        };
        padding: 0px;
        padding-bottom: 15px;
    };
        /*ANIMATION TITRE*/
    .container span{
        text-transform: uppercase;
        display: block;
    }
    /* ANIMATION TITRE */
    .text{
        color: white;
        font-size: 150px;
        font-weight: 700;
        letter-spacing: 8px;
        position: relative;
        animation: text 3s 1;
    }
    @keyframes text {
        0%{
            color: black;
            margin-bottom: -40%;
        }
        30%{
            letter-spacing: 25px;
            margin-bottom: -40%;
        }
        85%{
            letter-spacing: 8px;
            margin-bottom: -40%;
        }
    }
            /* PARIS TITRE */
    .paris-titre{
        height: 100px;
        text-align: center;
        padding: 2%;
    };
            /* PARIS CARTE */
    .paris-carte{
        text-align: center;
        padding-bottom: 1%;
        background-image: url(../image/defaut_carte_600x600px.jpg);
    };
            /* PARIS IMAGE TOP 1*/
    .paris-top1-img{
        background-image: url(../image/paris_top1_1920x500px.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    };
            /* PARIS IMAGE TOP 2*/
    .paris-top2-img{
        @extend .paris-top1-img;
        background-image: url(../image/paris_top2_1920x500px.jpg);
    };
            /* PARIS IMAGE TOP 3*/
    .paris-top3-img{
        @extend .paris-top1-img;
        background-image: url(../image/paris_top3_1920x500px.jpg);
    };
            /* PARIS IMAGE TOP 4*/
    .paris-top4-img{
        @extend .londres-top1-img;
        background-image: url(../image/paris_top4_1920x500px.jpg);
        background-position: bottom;
    };
            /* PARIS IMAGETOP 5*/
    .paris-top5-img{
        @extend .paris-top1-img;
        background-image: url(../image/paris_top5_1920x500px.jpg);
    };
            /*
            PARIS TOP
            */
    .paris-top{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        .paris-top-texte{
            background-color: rgba(255, 255, 255, 0.7);
        };
        margin: 4% 3%;
    };
}
//~~~~~~~~~~~~~~~~~~~~~~~~~
/*  */
//-----------------------------------------------------------
/*FOOTER*/
footer{

};
//-----------------------------------------------------------
/* RESPONSIVE
  TABLETTE */
@media screen and (max-width: 1000px){

};
//~~~~~~~~~~~~~~~~~~~~~~~~~
/* RESPONSIVE
  SMARTPHONE */
@media screen and (max-width: 768px){

};
