/* invite de commande */
/* D: */
/* cd D:\Desktop/EtaTrip/css */
/* sass --watch style.scss:style.css */
/* CODER DANS LE *SCSS* */
* h1 {
  font-family: "Staatliches";
}
* p {
  font-family: "PT Serif";
}
* .no-spacing {
  margin: 0%;
  padding: 0%;
}

/*BODY*/
body {
  background-color: #ffffff;
  padding: 0.09%;
}

/*HEADER*/
.no-spacing {
  padding: 0px;
  margin: 0px;
}

.background {
  background-size: auto;
  background-repeat: no-repeat;
}

/* LONDRES */
.londres {
  /* LONDRES HEADER */
  /* LONDRES TITRE */
  /* LONDRES CARTE */
  /* LONDRES IMAGE TOP 1*/
  /* LONDRES IMAGE TOP 2*/
  /* LONDRES IMAGE TOP 3*/
  /* LONDRES IMAGE TOP 4*/
  /* LONDRES IMAGETOP 5*/
  /*
  LONDRES TOP
  */
}
.londres .londres-header {
  background-image: url(../image/defaut_header_1920x600px.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0px;
}
.londres .londres-header h1 {
  font-size: 150px;
  color: #ffffff;
}
.londres .londres-titre {
  height: 100px;
  text-align: center;
  padding: 2%;
}
.londres .londres-carte {
  text-align: center;
  padding-bottom: 1%;
}
.londres .londres-top1-img, .londres .paris .paris-top4-img, .paris .londres .paris-top4-img, .londres .londres-top5-img, .londres .londres-top4-img, .londres .londres-top3-img, .londres .londres-top2-img {
  background-image: url(../image/defaut_top1_1920x500px.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}
.londres .londres-top2-img {
  background-image: url(../image/defaut_top2_1920x500px.jpg);
}
.londres .londres-top3-img {
  background-image: url(../image/defaut_top3_1920x500px.jpg);
}
.londres .londres-top4-img {
  background-image: url(../image/defaut_top4_1920x500px.jpg);
}
.londres .londres-top5-img {
  background-image: url(../image/defaut_top5_1920x500px.jpg);
}
.londres .londres-top {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  margin: 5% 3%;
}
.londres .londres-top .londres-top-texte {
  background-color: rgba(255, 255, 255, 0.5);
}

/* ROME */
.rome {
  /* ROME HEADER */
  /* ROME TITRE */
  /* ROME CARTE */
  /* ROME IMAGE TOP 1*/
  /* ROME IMAGE TOP 2*/
  /* ROME IMAGE TOP 3*/
  /* ROME IMAGE TOP 4*/
  /* ROME IMAGETOP 5*/
  /*
  ROME TOP
  */
}
.rome .rome-header {
  background-image: url(../image/rome_header.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;
  background-position: bottom;
  padding: 0px;
}
.rome .rome-header h1 {
  font-size: 150px;
  color: #ffffff;
}
.rome .rome-titre {
  height: 100px;
  text-align: center;
  padding: 2%;
}
.rome .rome-carte {
  text-align: center;
  padding-bottom: 1%;
  background-image: url(../image/defaut_carte_600x600px.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}
.rome .rome-top1-img, .rome .rome-top5-img, .rome .rome-top4-img, .rome .rome-top3-img, .rome .rome-top2-img {
  background-image: url(../image/rome_colisee2.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}
.rome .rome-position-text {
  width: 50%;
  position: absolute;
  right: 5%;
  padding-left: 12px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
  display: inline-block;
  justify-content: center;
}
.rome .rome-position-text-2 {
  position: relative;
  padding-left: 12px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
}
.rome .rome-align-right {
  float: right;
}
.rome .rome-align-left {
  float: left;
}
.rome .rome-position-carousel {
  background-size: 100%;
}
.rome .rome-top2-img {
  background-image: url(../image/rome_trevi2.jpg);
}
.rome .rome-top3-img {
  background-image: url(../image/rome_vatican3.jpg);
}
.rome .img-cercle {
  width: 69%;
}
.rome .rome-top4-img {
  background-image: url(../image/defaut_top4_1920x500px.jpg);
}
.rome .rome-top5-img {
  background-image: url(../image/defaut_top5_1920x500px.jpg);
}
.rome .rome-top {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  margin: 5% 3%;
}
.rome .rome-top .rome-top-texte {
  background-color: rgba(198, 198, 198, 0.5);
}

/* PARIS */
.paris {
  /* PARIS HEADER */
  /* PARIS TITRE */
  /* PARIS CARTE */
  /* PARIS IMAGE TOP 1*/
  /* PARIS IMAGE TOP 2*/
  /* PARIS IMAGE TOP 3*/
  /* PARIS IMAGE TOP 4*/
  /* PARIS IMAGETOP 5*/
  /*
  PARIS TOP
  */
}
.paris .paris-header {
  background-image: url(../image/defaut_header_1920x600px.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0px;
}
.paris .paris-header h1 {
  font-size: 150px;
  color: #ffffff;
}
.paris .paris-titre {
  height: 100px;
  text-align: center;
  padding: 2%;
}
.paris .paris-carte {
  text-align: center;
  padding-bottom: 1%;
}
.paris .paris-top1-img, .paris .paris-top5-img, .paris .paris-top3-img, .paris .paris-top2-img {
  background-image: url(../image/defaut_top1_1920x500px.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}
.paris .paris-top2-img {
  background-image: url(../image/defaut_top2_1920x500px.jpg);
}
.paris .paris-top3-img {
  background-image: url(../image/defaut_top3_1920x500px.jpg);
}
.paris .paris-top4-img {
  background-image: url(../image/defaut_top4_1920x500px.jpg);
}
.paris .paris-top5-img {
  background-image: url(../image/defaut_top5_1920x500px.jpg);
}
.paris .paris-top {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  margin: 5% 3%;
}
.paris .paris-top .paris-top-texte {
  background-color: rgba(255, 255, 255, 0.5);
}

/* */
/*FOOTER*/
/* RESPONSIVE
  TABLETTE */
/* RESPONSIVE
  SMARTPHONE */

/*# sourceMappingURL=style.css.map */
