.londres-header{
  background-image: url(../image/londres/londres-header.jpg);
  background-size: auto;
  height: 400px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0px;
  margin-bottom: 10px;
}

.row {
  margin-right: 0px;
}

.text{
  font-family:'Staatliches', cursive;
}
h2{
  font-family:'Staatliches', cursive;
  font-size: 3rem;
  margin-bottom: -10px;
  margin-top: 15px;
}

h3{
  font-family: 'PT Serif', serif;
  color: white;
  font-size: 1rem;
}
h4{
  font-size: 1.5rem;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  margin: 15px;
  margin-top: 25px;
  text-align: left;
}
h5{
  font-family:'PT Serif', serif;
  font-size: 8rem;
  margin-bottom: -50px;
  padding-bottom: 0px;
}
p{
  margin: 15px;
  text-align: left;
}
.londres .londres-top1-img, .londres .paris .paris-top4-img, .paris .londres .paris-top4-img, .londres .londres-top5-img, .londres .londres-top4-img, .londres .londres-top3-img, .londres .londres-top2-img {
  background-image: url(../image/londres/londres-top1.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 0px;
}
.londres .londres-top2-img {
  background-image: url(../image/londres/londres-top2.jpg);
}
.londres .londres-top3-img {
  background-image: url(../image/londres/londres-top3.jpg);
}
.londres .londres-top4-img {
  background-image: url(../image/londres/londres-top4.jpg);
}
.londres .londres-top5-img {
  background-image: url(../image/londres/londres-top5.jpg);
}
.londres .londres-top .londres-top-texte {
  background-color: rgba(255, 255, 255, 0.8);
}
.soldat{
  position: fixed;
     bottom: 0;
     right: 0;
     width: 10%;
}
#londres{
  height: 150px;
}
#londres2{
  height: 150px;
  opacity: 0;
}
.soldat2{
  position: fixed;
     bottom: 0;
     right: 0;
     width: 10%;
}
  @media screen and (max-width: 610px) {
    .text{
      font-size: 80px !important;
      top: 100px;
    }
    h3{
      margin-top: 90px !important;
    }
    h2{
      font-size: 30px;
    }
    .londres .londres-top .londres-top-texte {
      background-color: rgba(255, 255, 255, 0);
    }
    .londres-top-texte{
      margin-top: 450px;
    }
    .top{
      margin-top: 600px;
    }
    .londres .londres-top1-img, .londres .paris .paris-top4-img, .paris .londres .paris-top4-img, .londres .londres-top5-img, .londres .londres-top4-img, .londres .londres-top3-img, .londres .londres-top2-img {
      background-position: center;
    }
    #top2{
      background-position: right;
    }
  }
